html {
    height: 100%;
}
body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  /*background:blue;
  background: -moz-linear-gradient(top, #D9D9F3, #7AA9DD);*/
  height: 90%;
  margin: 0;
  /*background-repeat: no-repeat;*/
  overflow-x: hidden; 
}
@font-face {
  font-family: REZ;
  src: url('../fonts/REZ.ttf');
}
@font-face {
  font-family: LAC;
  src: url('../fonts/LAC.ttf');
}
h1, h2 {
    padding-top:.2em;
    color: #f5f5f5;
    text-shadow: 0 12px black;
    font-family: REZ;
}
h1 {
    text-align:center;
    font-size:600%;
}
.disc_player {
  background-color: #c06;
  height: 70px;
  width: 70px;
  display:inline-table;
  border-radius: 75px;
  position: absolute;
}
.disc_player1 {
  background-color: yellow;
  background-image:
    -moz-radial-gradient(yellowgreen 15%, transparent 16%);

  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.disc_player0 {
  background-color: red;
  background-image:
    -moz-radial-gradient(#bc8f8f 15%, transparent 16%);

  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
#board-container {
  width: 650px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}
#board {
  width: 100%;
  height: 100%;
  background-color: rgb(212,0,198); opacity: 0.5;
  z-index: 10;
  border-radius: 12px;
}
#controls {
  width: 650px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hole {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 75px;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
  z-index: -1;
  
}
button.control {
  margin-left: 42px;
  margin-right: 24px;
}
div#stats {
  position: absolute;
  right: 0;
  margin-right: -20px;
  top: 200px;
  width: 150px;
  background-color:white;
  border-radius: 20px;
  padding: 10px 30px 10px 10px;
}
div#stats h1 {
   color: black;
    text-shadow: 0 4px #cccccc;
  font-size:170%;
}
div#stats {
  font-family: LAC;
  font-size:80%;
}
