html {
    height: 100%;
}
body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  /*background:blue;
  background: -moz-linear-gradient(top, #D9D9F3, #7AA9DD);*/
  height: 90%;
  margin: 0;
  /*background-repeat: no-repeat;*/
  overflow-x: hidden; 
}
@font-face {
  font-family: REZ;
  src: url('../fonts/REZ.ttf');
}
@font-face {
  font-family: LAC;
  src: url('../fonts/LAC.ttf');
}

/* ------------------- Begin Mobile ------------------- */
@media (max-width: 320px) {
  #board-container {
    width: 100%;
    height: 280px;
  }
  h1, h2 {
      padding-top:.2em;
      color: #f5f5f5;
      text-shadow: 0 4px black;
      font-family: REZ;
  }
  h1 {
      text-align:center;
      font-size:120%;
  }
  div#stats h1 {
     color: black;
      text-shadow: 0 2px #cccccc;
    font-size:110%;
  }
  div#stats {
    font-family: LAC;
    font-size:60%;
  }
  .hole {
    background-color: white;
    height: 38px;
    width: 38px;
    border-radius: 42px;
    margin-left: 7px;
    margin-top: 2px;
    display: inline-block;
    z-index: -1;

  }
  #controls {
    width: 319px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  button.control, div.control {
    display: inline;
    margin-left: 12px;
    margin-right: 5px;
    padding: 10px;
  }
  div#stats {
    position: relative;
    width: 100%;
    background-color:white;
    padding: 3px 3px 3px 3px;
  }
  /*div#stats p, div#stats h1{*/
    /*width: 40%;*/
    /*display: inline-table;*/
  /*}*/
  #objectives {
    width: 60%;
    display: inline-table;
  }
  #next-checker {
    width: 30%;
    display: inline-table;
  }
  .disc_player {
    background-color: #c06;
    height: 32px;
    width: 32px;
    display:inline-table;
    border-radius: 75px;
    position: absolute;
  }
  .disc_player1 {
    background-color: yellow;
    background-image:
      -moz-radial-gradient(yellowgreen 15%, transparent 16%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  .disc_player0 {
    background-color: red;
    background-image:
      -moz-radial-gradient(#bc8f8f 15%, transparent 16%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  #board {
    width: 100%;
    height: 100%;
    background-color: rgb(212,0,198); opacity: 0.5;
    z-index: 10;
    padding-top: 5px;
  }
}
/* ------------------- End Mobile ------------------- */


/* ------------------- Begin Desktop ------------------- */
@media (min-width: 321px) {
  #board-container {
    width: 650px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2 {
      padding-top:.2em;
      color: #f5f5f5;
      text-shadow: 0 4px black;
      font-family: REZ;
  }
  h1 {
      text-align:center;
      font-size:600%;
  }
  div#stats h1 {
     color: black;
      text-shadow: 0 4px #cccccc;
    font-size:170%;
  }
  div#stats {
    font-family: LAC;
    font-size:80%;
  }
  .hole {
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 75px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    z-index: -1;

  }
  #controls {
    width: 650px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  button.control, div.control {
    display: inline;
    margin-left: 40px;
    margin-right: 24px;
  }
  div#stats {
    position: absolute;
    right: 0;
    margin-right: -20px;
    top: 200px;
    width: 150px;
    background-color:white;
    border-radius: 20px;
    padding: 10px 30px 10px 10px;
  }
  .disc_player {
    background-color: #c06;
    height: 70px;
    width: 70px;
    display:inline-table;
    border-radius: 75px;
    position: absolute;
  }
  .disc_player1 {
    background-color: yellow;
    background-image:
      -moz-radial-gradient(yellowgreen 15%, transparent 16%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  .disc_player0 {
    background-color: red;
    background-image:
      -moz-radial-gradient(#bc8f8f 15%, transparent 16%);

    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  #board {
    width: 100%;
    height: 100%;
    background-color: rgb(212,0,198); opacity: 0.5;
    z-index: 10;
    border-radius: 12px;
  }
}
/* ------------------- End Desktop ------------------- */




